.idea
.DS_Store
.cache
*.zip
*.pyc
*.pod
*.pm
*.exc
*.db
src/test.py
/.vs
exp/basic_info/100_small/tok_size.dict
exp/basic_info/100_small/tok_avg_size.dict
exp/basic_info/100_small/path_size.dict
exp/basic_info/100_small/path_avg_size.dict
exp/basic_info/100_small/data_len.dict
exp/basic_info/100_small/comment_size.dict
exp/basic_info/100_small/comment_avg_size.dict
exp/basic_info/100_small/ast_size.dict
exp/basic_info/100_small/ast_avg_size.dict
src/test.py
.idea/workspace.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/naturalcodev3.iml
.idea/remote-mappings.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/deployment.xml
.idea/encodings.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/naturalcodev3.iml
.idea/remote-mappings.xml
.idea/webServers.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
requirement.txt
*.so
*.o
build/temp.linux-x86_64-3.7/.ninja_log
build/temp.linux-x86_64-3.7/.ninja_deps
build/temp.linux-x86_64-3.7/build.ninja
ncc/data/tools/token_block_utils_fast.cpp
ncc/data/tools/data_utils_fast.cpp
*.log
