.idea
*/.idea/*
.DS_Store
.cache
*.zip
*.pyc
*.pod
*.pm
*.exc
*.db
src/test.py
/.vs
*.xml
*.o
build/*
ncc/data/tools/token_block_utils_fast.cpp
ncc/data/tools/data_utils_fast.cpp
#*.log
*.cpython-37m-x86_64-linux-gnu.so
predict.json

# yang igore pattern
awsome_readme_examples