antlr4-python3-runtime
backcall
blessings
blis
boto3
botocore
brotlipy
catalogue
certifi
cffi
chardet
click
coverage
cryptography
cycler
cymem
Cython
dataclasses
decorator
dgl
dill
docutils
editdistance
EditorConfig
fastBPE
filelock
future
gdown
gpustat
hydra-core
idna
importlib-metadata
importlib-resources
ipdb
ipython
ipython-genutils
jedi
jmespath
joblib
jsbeautifier
jsonlines
kiwisolver
line-profiler
llvmlite
loguru
matplotlib
mkl-fft
mkl-random
mkl-service
multiprocess
murmurhash
networkx
nltk
numba
numpy
olefile
omegaconf
pandas
parso
pathos
pexpect
pickleshare
Pillow
plac
portalocker
pox
ppft
preshed
prettytable
prompt-toolkit
protobuf
psutil
ptyprocess
pycparser
Pygments
pyOpenSSL
pyparsing
pyrouge
PySocks
python-dateutil
pytz
PyYAML
regex
requests
rouge
ruamel.yaml
ruamel.yaml.clib
s3transfer
sacrebleu
sacremoses
scikit-learn
scipy
six
sklearn
spacy
srsly
subword-nmt
tabulate
thinc
threadpoolctl
tqdm
traitlets
tree-sitter
typing-extensions
ujson
urllib3
wasabi
wcwidth
wget
zipp
jieba
